a:hover {
    transform: scale(1.005);
}

a {
    text-decoration: none;
    color: black;
}

svg{
    margin-left: 100px;
}

.volver:hover {
    color: red;
}

.icono {
    margin-top: 100px;
}

polyline:hover {
    filter: drop-shadow(-5px 5px 1px grey);
}

path:hover {
    filter: drop-shadow(-5px 5px 2px grey);
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.zona{
    margin-top: -50px;
}

h2 {
    font-family: sans-serif;
}


.referencias {
    width: 20%;
    margin-left: -25%;
    margin-bottom: 10%;
}

div .box {
width: 50px;
height: 30px;
margin: 5px;
padding: 0;
border: 1px black solid;
border-radius: 5%;

}

.oeste {
    background-color: rgb(240, 183, 173);;
}

.centroOeste {
    background-color: rgb(253, 251, 174);
}

.centralSur {
    background-color: rgb(177, 197, 224);
}

.centralNorte {
    background-color: rgb(199, 223, 142);
}

.sudeste {
    background-color: rgb(176, 221, 200);
}

.centroEste {
    background-color: rgb(244, 198, 149);
}

.noreste {
    background-color: rgb(234, 218, 224);
}

.litoralNorte {
    background-color: rgb(239, 242, 217);
}

.litoralSur {
    background-color: rgb(221, 149, 188);
}

.referencias {
    display: flex;
    flex-direction: column;
}

.inline {
display: inline-block;

}

.inlinePalabra {
    display: inline-block;
    margin: 0%;
}

.inlinePalabra:hover {
    color: red;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.referencias div {
    display: flex;
}

img{
    width: 500px;
    height: 300px;
    padding: 10px;
  }

.highlight {
    filter: drop-shadow(-5px 5px 2px grey);
    transform: scale(1.005);
}

main{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    min-height: 100vh;     
}

.cuerpo{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    width: 80%;
}

.cuerpo1{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    width: 94%;
}

.info{
    padding: 30px;
    border-radius: 10px;
}

.info ul {
    list-style: none;
}

.info ul li {
    margin-bottom: 20px;
}

